.formPage_wrapper {
  margin: 40px;
  display: flex;
  gap: 60px;
}

.formPage_form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  width: 250px;
}

.input_submit {
  width: 150px;
}